<h1>お気に入り一覧</h1>
<% @favorites.each do |fav| %>
  <% if fav.post%>
    <p><%= fav.post.user.name  %></p>
    <p><%= fav.post.text  %></p>
    <P><%= image_tag fav.post.image.url %></p>
    <%= link_to "詳細", post_path(fav.post.id) %>
  <% end %>
<% end %>