<h1>一覧</h1>
<% @post.each do |post| %>
  <p><%= post.user.name %></p>
  <p><%= post.text %></p>
  <P><%= image_tag post.image.url %></p>
  <%#= binding.pry %>
  <%= link_to '詳細', post_path(post.id) %>
  
<% end %>