.top_menu {
  float: right;
}

.top_menu li {
  float: left;
  padding: 15px;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header_logo {
  float: left;
}

.header {
  background-color: pink;
}

.header_logo {
  margin: 15px;
  font-size: 2rem;
}